@use 'sass:color';

// COLORS
$dark-color: #141414;
$darker-color: #090909;
$light-color: #f0f0f0;
$accent-color: #9932cc;
$dark-accent-color: color.adjust($accent-color, $lightness: -20%);

// SHADOWS
$dark-shadow: 0.2rem 0.2rem 0.2rem $darker-color;
$accent-shadow: 0.2rem 0.2rem 0.2rem $dark-accent-color;

// BORDERS
$rounded: 0.5rem;
$rounded-lg: 1rem;

// TRANSITIONS
$transition-time: 0.3s;
$transition-modal: 0.2s;

// RESPONSIVE
$tablet: 768px;
$desktop: 1024px;
