// COLORS
$dark-color: #141414;
$darker-color: #101010;
$light-color: #f0f0f0;
$lighter-color: #f8f8f8;
$accent-color: #8a2be2;
$accent-dark-color: #6e19bd;

// SHADOWS
$dark-shadow: rgba(0, 0, 0, 0.5);
$accent-shadow: rgba(138, 43, 226, 0.5);

// TRANSITIONS
$transition-time: 0.3s;

// UTILS
$rounded: 0.5rem;
